.app_pink_theme {
    --bg-color: #fff;
    --inverted-bg-color: #76276c;
    --primary-color: #77166b;
    --secondary-color: #351056;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #eeeaea;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #d5d5d7;
    --card-bg: #d5d5d7 ;
    --listBox-bg: #d5d5d7 ;
}
